html,
body {
    margin: 0;
    padding: 0;
    font-family: "Fira Code", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    scroll-behavior: smooth;
}

* {
    text-decoration: none;
}

:root {
    --primary: #6944b6;
    --secondary: #ffffffea;
    --nav: #222831;
    --desc: #393E46;
    --whatsapp: #0CC143;
    --judul: #0065F8;
    --combinasi1: #e9ecef;
    --combinasi2: #f8f9fa;
    --noto: "Noto Sans", sans-serif;
}

/* Navbar Start */
nav .wrapper {
    display: flex;
    padding: 0px 30px;
    justify-content: space-between;
    background-color: var(--nav);
    align-items: center;
    position: fixed;
    width: 100%;
    height: 80px;
    /* margin-top: -80px; */
    z-index: 100;
    opacity: 0.8;
}

nav .logo img {
    width: 40px;
    border: 2px solid #fff;
    border-radius: 50%;
}

nav .menu ul {
    display: flex;
    margin-right: 40px;
}

nav .menu ul li {
    list-style-type: none;
    padding: 10px 20px;
}

nav .menu ul li a {
    font-weight: bold;
    color: #fff;
}

nav .hamburger {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 60px;
    display: none;
}

nav .hamburger > i {
    color: var(--secondary);
    font-size: 1.8rem;
}

nav .hamburger > i.fa-xmark {
    display: none;
}
/* Navbar End */

/* Hero Section Start */
header {
    background-image: url("../img/hero.jpg");
    height: 100vh;
    background-position: center;
    background-size: cover;
    /* margin-top: 80px; */
    position: relative;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

header .opacity {
    background-color: var(--nav);
    width: 100%;
    height: 100%;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 1px solid var(--secondary);
}

header .jumbotron {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 0;
    left: 0;
}

header .jumbotron h1 {
    margin-top: -20px;
    text-transform: uppercase;
    color: var(--secondary);
}

header .jumbotron p {
    color: var(--secondary);
    margin-top: -10px;
    text-transform: capitalize;
}

header .jumbotron a button {
    background-color: var(--primary);
    color: var(--secondary);
    padding: 20px 30px;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    font-size: 15px;
    margin-top: 20px;
    font-weight: bold;
}

header .jumbotron a button:hover {
    cursor: pointer;
    transform: translateY(5px);
}
/* Hero Section End */

/* Shop Section Start */
#shop {
    /* background: linear-gradient(to top, rgba(255,255,255,0.2), rgba(0,0,0,0)), var(--nav); */
    background-color: var(--nav);
    padding-bottom: 50px;
}

#shop h3 {
    color: var(--secondary);
    padding-top: 100px;
    margin: 0;
    text-align: center;
    font-size: 2em;
    text-transform: capitalize;
    font-family: var(--noto);
    font-optical-sizing: auto;
    font-weight: bold;
}
#shop h3 span {
    color: var(--whatsapp);
}

#shop p {
    text-align: center;
    color: var(--secondary);
    text-transform: capitalize;
}

#shop .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

#shop .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--desc);
    border-radius: 10px;
    padding: 20px;
    border: 1px solid var(--secondary);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#shop .card img {
    width: 150px;
    height: 150px;
    margin: 0px auto;
}

#shop .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

#shop .card h3 {
    margin: 0;
    padding: 0;
    color: var(--judul);
}

#shop .card p, #shop .card b {
    color: var(--secondary);
    text-align: center;
}

#shop .card .buy {
    display: flex;
    justify-content: center;
}

#shop .card a {
    background-color: var(--whatsapp);
    padding: 10px 20px;
    border-radius: 10px;
    color: var(--secondary);
    margin-top: 10px;
}
#shop .card a:hover {
    transform: translateY(-2px);
    background-color: var(--nav);
}

/* Shop Section End */

/* Free Section Start */
#free {
    /* background: linear-gradient(to bottom, rgba(255,255,255,0.2), rgba(0,0,0,0)), var(--nav); */
    background-color: var(--desc);
    padding-bottom: 50px;
    border-top: 1px solid var(--secondary);
    border-bottom: 1px solid var(--secondary);
}

#free h3 {
    color: var(--secondary);
    padding-top: 100px;
    margin: 0;
    text-align: center;
    font-size: 2em;
    text-transform: capitalize;
    font-family: var(--noto);
    font-optical-sizing: auto;
    font-weight: bold;
}
#free h3 span {
    color: red;
}

#free p {
    text-align: center;
    color: var(--secondary);
    text-transform: capitalize;
}

#free a {
    color: var(--secondary);
    background-color: red;
    padding: 4px 10px;
    border-radius: 7px;
}

#free .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

#free .card {
    display: flex;
    flex-direction: column;
    background-color: var(--nav);
    border-radius: 10px;
    padding: 0;
    border: 1px solid var(--secondary);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden; 
}

#free .card .img-wrapper {
    width: 100%;
    height: 720px;
    position: relative;
    overflow: hidden;
}

#free .card .img-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#free .card .desc {
    padding: 0px 20px 20px;
}



#free .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

#free .card p {
    color: var(--secondary);
    text-align: center;
}

#free .card .info {
    display: flex;
    justify-content: space-around;
}

#free .card a {
    padding: 10px 20px;
    border-radius: 10px;
    color: var(--secondary);
    margin-top: 10px;
}
#free .card a:hover {
    transform: translateY(-2px);
}

#free .card a.tutorial {
    background-color: red;
}
#free .card a.download {
    background-color: var(--judul);
}
/* Free Section End */

/* Contact start */
#contact {
  padding: 60px 20px;
  background-color: var(--nav);
  font-family: 'Segoe UI', sans-serif;
}

.contact-container {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  background-color: var(--desc);
  border: 1px solid var(--secondary);
  border-radius: 16px;
  padding: 40px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.05);
}

.contact-info {
  flex: 1 1 300px;
}

.contact-info h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: var(--secondary);
}

.contact-info p {
    color: var(--secondary);
}

.contact-info ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.contact-info li, .contact-info li a {
  margin-bottom: 12px;
  font-size: 16px;
  color: var(--secondary);
}

.contact-info i {
  margin-right: 10px;
  color: var(--primary);
}

.contact-form {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contact-form input,
.contact-form textarea {
  padding: 14px;
  border: 1px solid var(--secondary);
  border-radius: 8px;
  font-size: 15px;
  transition: 0.2s ease-in-out;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: var(--primary, #007bff);
  outline: none;
}

.contact-form button {
  padding: 14px;
  background-color: var(--primary, #007bff);
  color: var(--secondary);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.contact-form button:hover {
  /* background-color: #002ab3; */
  transform: translateY(3px);
}

/* Contact end */

/* Footer Start */
footer {
    background-color: var(--desc);
    padding: 20px;
    border-top: 1px solid var(--secondary);
}

footer p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: var(--secondary);
}
/* Footer End */

/* Pembatas Start */
.pembatas {
    background-color: var(--desc);
    width: 100%;
    height: 100px;
}
/* Pembatas End */


/* Responsive 768, 600, 550, 450 */
@media only screen and (max-width: 768px) {
    #free > p {
        padding: 0px 50px;
        line-height: 2em;
    }
    .contact-container {
        flex-direction: column;
        padding: 30px 20px;
    }
}

@media only screen and (max-width: 600px) {
    #free > p {
        padding: 0px 50px;
        line-height: 2em;
    }
    header .jumbotron h1 {
        font-size: 2.2em;
    }

    header .jumbotron p {
        padding: 0px 30px;
    }

    header .jumbotron a button {
        font-size: 20px;
    }

    #free .card a {
        padding: 5px 10px;
    }

     nav .hamburger {
        display: inline;
    }

    nav .menu {
        display: none;
    }

    nav .open {
        display: inline;
    }

    nav .open ul {
        flex-direction: column;
        width: 100%;
        position: fixed;
        background-color: var(--desc);
        top: 63px;
        left: 0;
    }

    nav .open ul li {
        padding: 10px 0px;
        border: 1px solid var(--nav);
        text-align: center;
        margin-left: -40px;
    }
}

@media only screen and (max-width: 574px) {
    #free .card a {
        padding: 15px 40px;
    }
}

@media only screen and (max-width: 450px) {
    header .jumbotron h1 {
        font-size: 1.5em;
    }

    #shop > p {
        padding: 0px 40px;
    }

    #free h3 {
        font-size: 1.5em;
    }

    #free > p {
        padding: 0px 20px;
    }

    #free .card a {
        padding: 10px 35px;
    }
}

@media only screen and (max-width: 380px) {
    header .jumbotron a button {
        font-size: 1em;
        padding: 10px 20px;
    }

    #shop > p {
        padding: 0px 20px;
    }

    #shop > h3 {
        font-size: 1.5em;
    }

    #free h3 {
        font-size: 1.5em;
    }

    #free > p {
        padding: 0px 20px;
        font-size: 0.7em;
    }

    #free .card a {
        padding: 5px 15px;
    }

    .contact-info p, .contact-info li {
        font-size: 0.7em;
    }

    .contact-info li a {
        font-size: 1em;
    }

    .contact-form {
        margin-top: -50px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    .contact-form input,
    .contact-form textarea {
        padding: 10px 10px;
        border: 1px solid var(--secondary);
        border-radius: 8px;
        font-size: 0.6em;
        transition: 0.2s ease-in-out;
    }

    .contact-form button {
        padding: 10px;
        font-size: 0.7em;
    }

    footer {
        font-size: 0.5em;
    }
}