html,
*,
body {
    padding: 0;
    margin: 0;
    background-color: black;
    color: white;
}

.container .Navbar {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: yellow;
    justify-content: center;
    align-items: center;
}

.container .Navbar a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    background-color: yellow;
    font-size: 15px;
}

.container .primary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container .primary span {
    color: red;
}

.container .primary .merah {
    background-color: red;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 10px;
    color: white;
}

.container .primary .kuning {
    background-color: yellow;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 10px;
    color: black;
}

.container .primary .biru {
    background-color: blue;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 10px;
    color: white;
}

.container .primary .p {
    display: inline-block;
    padding-top: 5px;
    font-size: 25px;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
}


/* SCRIPT BOT */
.wrapper {
    display: flex;
    /* background-color: rgb(255, 255, 255); */
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
    flex-wrap: wrap;
}

.card h1 {
    display: flex;
    padding: 20px;
    justify-content: center;
    background-color: blue;
    /* color: black; */
}

.card p {
    display: flex;
    padding: 20px;
    justify-content: center;
    background-color: blue;
    /* color: black; */
}

.card a {
    text-decoration: none;
    background-color: red;
    padding: 10px;
    border-radius: 10px;
}

.card a:hover {
    text-decoration: none;
    background-color: rgb(145, 255, 0);
    padding: 10px;
    border-radius: 10px;
    color: black;
}


/* Phone Respon */
@media only screen and (max-width: 400px) {

    .container .Navbar a {
        display: inline-block;
        text-decoration: none;
        color: black;
        padding: 7px 14px;
        background-color: yellow;
        font-size: 15px;
    }

    .container .primary h1 {
        font-size: 25px;
        padding-top: 120px;
    }

    .container .primary .p {
        display: inline-block;
        padding-top: 1px;
        font-size: 15px;
        justify-content: center;
        align-items: center;
        text-align: justify;
        padding-left: 10px;
        padding-right: 10px;
    }
}