body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f9f9f9;
}
/* Warna untuk Dark Mode */
.dark-mode {
  background-color: #121212;
  color: white;
}

.dark-mode .hamburger-menu {
  color: white !important;
}

.dark-mode .navbar {
  background: linear-gradient(135deg, #1e1e1e, #4a4a4a);
}

.dark-mode .navbar a {
  color: white;
}

.dark-mode .sticky-search {
  background-color: rgba(105, 101, 101, 0.5);
  box-shadow: 0 2px 5px rgba(179, 178, 178, 0.1);
}

.dark-mode .search-container input {
  border: 1px solid #1b1a1a;
}

.dark-mode .product,
.dark-mode .script {
  background-color: rgb(59, 51, 51);
}

.dark-mode .navbar a:hover {
  background: linear-gradient(135deg, #333, #555);
}

.dark-mode #home {
  background: linear-gradient(135deg, #485a6b, #162022);
  color: white;
}

.dark-mode .product h2,
.dark-mode .script h2 {
  color: #f3efef;
}

.dark-mode .product p,
.dark-mode .script p {
  color: #c7baba;
}

.dark-mode .product .price {
  color: #e90d0d;
  font-weight: bold;
}

/* Warna untuk Light Mode */
.light-mode {
  background-color: #ffffff;
  color: black;
}

.light-mode .hamburger-menu {
  color: rgb(0, 0, 0) !important;
}

.light-mode .navbar {
  background: linear-gradient(135deg, #c4def0, #daecf3);
}

.light-mode .navbar a,
.light-mode .navbar .navbar-name {
  color: black;
}

.light-mode .navbar a:hover {
  background: linear-gradient(135deg, #bad2e4, #d3e3e9);
}

.light-mode .navbar-links {
  background-color: rgba(231, 227, 227, 0.95);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.dark-mode .hamburger-menu {
  color: rgb(0, 0, 0);
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #2e3036, #706d74);
  z-index: 1000;
  padding: 10px 0px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar .logo-container {
  display: flex;
  align-items: center;
}

.navbar .logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
  margin-left: 15px;
}

.navbar .navbar-name {
  color: rgb(240, 235, 235);
  font-size: 15px;
  font-weight: bold;
  font-family: "Dancing Script", cursive;
}

.navbar-links {
  display: flex;
  padding-right: 30px;
}

.navbar a {
  padding: 15px 20px;
  color: white;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
}

.navbar a:hover {
  background: linear-gradient(135deg, #3e4046, #5f5e61);
  border-radius: 12px;
}

/* Hamburger menu icon */
.hamburger-menu {
  display: none;
  font-size: 30px;
  color: rgb(245, 245, 245);
  cursor: pointer;
}

.sticky-search {
  position: fixed;
  top: 68px;
  width: 100%;
  z-index: 999;
  padding: 10px 0;
  background-color: rgba(223, 223, 223, 0.5);
  box-shadow: 0 2px 5px rgba(179, 178, 178, 0.1);
}
.search-container {
  max-width: 600px;
  margin: auto;
  text-align: center;
}
.search-container input {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
section {
  padding: 100px 20px;
  /* margin-top: 80px; */
}
#home {
  background: linear-gradient(135deg, #3c95e9, #2c7486);
  color: white;
  text-align: center;
  padding: 150px 20px;
}

#home h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  font-family: "Dancing Script", cursive;
}

#home p {
  font-size: 1.2rem;
}
#shop h1,
#script-bot h1 {
  text-align: center;
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  font-size: 30px;
}

.main-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.product,
.script {
  background-color: white;
  padding: 15px;
  width: 220px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.product:hover,
.script:hover {
  transform: scale(1.05);
}
.product img,
.script img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}
.product h2,
.script h2 {
  font-size: 18px;
  margin: 10px 0;
  color: #333;
}
.product p,
.script p {
  font-size: 14px;
  color: #777;
}
.product .price {
  font-size: 16px;
  color: #e91e63;
  font-weight: bold;
}
.product .buy-btn,
.script a {
  background-color: #25d366;
  color: white;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  margin-top: 10px;
}
.product .buy-btn:hover {
  background-color: #128c7e;
}
.script a {
  display: block;
  margin: 10px 0;
  color: white;
  background-color: #007bff;
  padding: 10px;
  border-radius: 5px;
}
.script a:hover {
  background-color: #0056b3;
}
#contact {
  background: linear-gradient(135deg, #2e3036, #706d74);
  padding: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  color: white;
}
.contact-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  padding: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  transition: transform 0.5s ease-in-out;
}
.contact-item:hover {
  transform: scale(1.03);
}
.contact-item img {
  width: 28px;
  margin-right: 12px;
}
.contact-item a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}
.contact-item a:hover {
  color: #3bc1ff;
}

.copyright {
  margin-top: 20px;
  font-size: 14px;
  opacity: 0.8;
}

.navbar-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}
.modal-content {
  position: relative;
}
.modal img {
  max-width: 90%;
  max-height: 90%;
}
.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 25px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.navbar-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

@media screen and (max-width: 768px) {
  .navbar-links {
    display: none;
    width: 100%;
    text-align: center;
    flex-direction: column;
    background-color: rgba(51, 51, 51, 0.95);
    position: absolute;
    top: 60px;
    z-index: 1001;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  }

  .navbar-links a {
    border-top: 1px solid rgba(85, 85, 85, 0.5);
    color: white;
    text-decoration: none;
    display: block;
    font-size: 16px;
  }

  .navbar-links.active {
    display: flex;
  }

  .hamburger-menu {
    display: block;
    position: absolute;
    right: 15px;
  }

  .sticky-search {
    position: fixed;
    top: 60px;
    width: 100%;
    z-index: 999;
    padding: 10px 0;
    background-color: rgba(223, 223, 223, 0.5);
    box-shadow: 0 2px 5px rgba(179, 178, 178, 0.1);
  }
}
